// Roboto black
@font-face{
    src: url(../../fonts/Roboto-Black.ttf);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
}

// Roboto black italic
@font-face{
    src: url(../../fonts/Roboto-BlackItalic.ttf);
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 800;
}

// Roboto bold
@font-face{
    src: url(../../fonts/Roboto-Bold.ttf);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
}

// Roboto bold italic
@font-face{
    src: url(../../fonts/Roboto-BoldItalic.ttf);
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
}

// Roboto medium
@font-face{
    src: url(../../fonts/Roboto-Medium.ttf);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
}

// Roboto medium italic
@font-face{
    src: url(../../fonts/Roboto-MediumItalic.ttf);
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
}

// Roboto regular
@font-face{
    src: url(../../fonts/Roboto-Regular.ttf);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

// Roboto regular italic
@font-face{
    src: url(../../fonts/Roboto-Italic.ttf);
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
}

// Rock salt
@font-face{
    src: url(../../fonts/RockSalt.ttf);
    font-family: 'Rocksalt';
    font-style: normal;
    font-weight: 400;
}
