

@media screen and (max-width: 970px){
    .header{
        &__button{
            font-size: 16px;
        }

        &__item{
            font-size: 14px;
            margin: 0px 5px;
        }

        &__logo{
            font-size: 38px;
        }
    }
}


@media screen and (max-width: 780px){

    .wrap{
        padding-right: 15px;
        padding-left: 15px;
    }

    .header{
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        transform: unset;
        &__wrap{
            grid-template-columns: 1fr 1fr;
        }
        &__toggler{
            display: flex;
            font-size: 22px;
            order: 2;
            justify-self: end;
            cursor: pointer;
        }
        &__button{
            display: none;
        }
        &__logo{
            order: 1;
            justify-self: start;
        }
        &__nav{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            order: 3;
            grid-column: span 2;
            justify-self: center;
            width: 100%;
            overflow: hidden;
            height: 0;
            &--open{
                height: calc(100vh - 54px);
            }
        }
        &__item{
            margin: 25px 0;
            font-size: 24px;
        }
    }

    .mainBanner{
        &__accentSubtitle{
            margin-top: 25px;
        }

        &__wrap{
            padding-top: 50px;
        }
    }

    .about{
        &__wrap{
            flex-direction: column;
            align-items: center;
        }
        &__text{
            width: 100%;
            max-width: 500px;
        }
        &__slider{
            width: 100%;
            max-width: 500px;
        }
    }
}

@media screen and (max-width: 480px){
    .accentSubtitle{
        padding: 5px 10px;
    }

    .mainBanner{
        &__subtitle{
            margin-bottom: 10px;
        }
    }

    .about{
        &__wrap{
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }

    .paragraph{
        font-size: 20px;
    }

    .grid{
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    .last{

        &__wrap{
            padding-top: 50px;
            padding-bottom: 50px;
        }

        &__desc{
            &-name{
                font-size: 18px;
            }
        }
        &__item{
            height: 400px;
        }
    }

}